# Node.js
node_modules

# Production build
.next

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# macOS
.DS_Store

# Temporary files
*.log
npm-debug.log*

# Dependency directories
pnpm-debug.log*
pnpm-lock.yaml
yarn-error.log
yarn.lock
